.showProducts {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__heading {
    height: 6rem;
    width: 100%;
    text-align: center;
    line-height: 6rem;
    background-color: $color-grey-10;
    font-size: 35px;
    margin: 5rem 0;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

.showPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
