.p-home {
  &__heading {
    height: 15rem;
    width: 100%;
    background-color: $color-grey-10;
    text-align: center;
    line-height: 15rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: red;
  }
}
