// basewidth
$basewidth-pc: 1280px;

// breakpoints
$breakpoint-extra-large-pc: 1440px;
$breakpoint-large-pc: $basewidth-pc;
$breakpoint-small-pc: 1024px;
$breakpoint-sp: 768px;
$breakpoint-tablet: 575px; // Add a new breakpoint for tablets

// width of whole body with navigation
$wholebody-withnav-width-pc: 788px;
$wholebody-withnav-padding-horizontal-pc: 32px;
$wholebody-withnav-position-left-pc: 236px;
